<%- include('../partials/header.ejs') %>
<%- include('../partials/navbarUser.ejs') %>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2><%= dados.torneio.nome %> - <%= dados.torneio.data %></h2>
        </div>
    </div>
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Inscrição</h2>
            <% if(!dados.inscrito) {%>
            <form method="post" onsubmit="return validate(event,this)" action="/torneios/inscrever">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <input class="form-control" type="hidden" required name="id" value="<%= dados.torneio.id %>"><br> 
                            <th>Deck:</th>
                            <td>
                                <select class="form-control" id="idDeck" name="idDeck">
                                    <option value="0">Selecione o Deck</option>
                                    <% dados.decks.forEach(deck => { %>
                                        <option value="<%= deck.id %>"><%= deck.nome %></option>
                                    <% }) %>
                                </select>
                            </td>
                            <td>
                                <button class="btn btn-success">Participar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <%}%>
        </div>

        <div class="card-body">
            <h3>Jogadores Inscritos</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Deck</th>
                    </tr>
                </thead>
                <tbody>
                    <% dados.jogadores.forEach(jogador => { %>
                        <tr>
                            <td><%= jogador.nome %></td>
                            <td><%= jogador.nomeDeck %></td>
                        </tr>
                    <% }) %>
                        
                    <% if(dados.inscrito) {%>
                        <tr><td><a href="/torneios/cancelarJogador/<%= dados.torneio.id %>" class="btn btn-danger">Cancelar</a></td></tr>
                    <%}%>
                </tbody>
                
            </table>
            
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>
<script>
     function validate(event,form){
        event.preventDefault();
        var deck = document.getElementById('idDeck');

        //alert(deck.value)

        if(deck.value == 0 ) {
            var decision = confirm("Quer participar sem informar um deck?");
            if(decision){
                form.submit();
            }
        } else {
            form.submit()
        }
        
    }
</script>