<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2><%= dados.torneio.nome %> - <%= dados.torneio.data %> [ <%= dados.torneio.FormatoNome %> ]</h2>
        </div>
        <div class="card-body">
            <% if(dados.torneio.fase > 1){ %>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Jogador</th>
                            <th>Deck</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% dados.jogadores.forEach((jogador,index) => { %>
                            <tr>
                                <td><%= jogador.jogador.nome %></td>
                                <td>
                                    <select class="form-control" id="deck" onchange="trocaDeck('<%= index %>','<%= dados.torneio.id %>','<%= jogador.jogador.idJogador %>')" name="idDeck">
                                        <option value="0">Selecione o Deck</option>
                                        <% jogador.decks.forEach(deck => { %>
                                            <option value="<%= deck.id %>"
                                                <% if(deck.id == jogador.jogador.idDeck) {%>
                                                selected
                                                <%} %>
                                                ><%= deck.nome %></option>
                                        <% }) %>
                                    </select>
                                </td>
                                <td>
                                    <form method="post" action="/torneios/inscrito/delete" style="display: inline"
                                        onsubmit="confirmDelete(event,this);">
                                        <input type="hidden" name="idJogador" value="<%= jogador.jogador.idJogador %>">
                                        <input type="hidden" name="idTorneio" value="<%= dados.torneio.id %>">
                                        <button class="btn btn-danger">Remover</button>
                                    </form>
                                </td>
                            </tr>
                        <%})%>
                    </tbody>
                </table>
                <a href="/torneios/inserirJogador/<%= dados.torneio.id %> " class="btn btn-warning">Inscrever Jogadores</a>
            <%} %>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>
<script>
    function confirmDelete(event, form){
        event.preventDefault();
        var decision = confirm("Você quer remover este jogador?");
        if(decision){
            form.submit();
        }
    }

    function trocaDeck(index,idTorneio,idJogador){
        var deck = document.getElementsByName('idDeck')[index];
        var params = idTorneio + ";" + idJogador + ";" + deck.value;
        var url = "/torneios/trocarDeck/" + params;
        window.location.href = url;
    }
</script>