<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2><%= dados.torneio.nome %> - <%= dados.torneio.data %></h2>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Posição</th>
                        <th>Jogador</th>
                        <th>Pontuação</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(dados.torneio.fase == 4){ %>
                        <form method="post" action="/torneios/inscrito/atualiza" onsubmit="return validate(event,this)">
                            <input type="hidden" name="idTorneio" value="<%= dados.torneio.id %>">
                            <% dados.jogadores.forEach(jogador => { %>
                            <tr>
                                <td><input type="hidden" name="idJogador" value="<%= jogador.idJogador %>">
                                    <input type="text" class="form-control" name="posicao" value="<%= jogador.posicao %>"></td>
                                <td><%= jogador.nomeJogador %></td>
                                <td><input type="text" class="form-control" name="pontos" value="<%= jogador.pontos %>"></td>
                                <input class="form-control" type="hidden" name="idDeck" value="<%=jogador.idDeck %>">
                            </tr>
                            <%})%>
                        <tr><td><button class="btn btn-success">Atualizar</button></td></tr>
                        </form>
                    <%} %>
                </tbody>
            </table>
            <br>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert" style='display:none'>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>
<script>
    function confirmDelete(event, form){
        event.preventDefault();
        var decision = confirm("Você quer remover este jogador?");
        if(decision){
            form.submit();
        }
    }

    function validate(event,form){
        event.preventDefault();
        
        var posicao = document.getElementsByName('posicao');

        var lstPosicao = [];

        for (var i = 0 ; i < posicao.length; i++){
            lstPosicao.push(posicao[i].value);
        }

        const lstOrdenado = qs(lstPosicao);
        var erro = false;
        
        for(var i = 0 ; i < lstOrdenado.length; i++){
            if(i + 1 < lstOrdenado.length ){
                if(lstOrdenado[i] == lstOrdenado[i+1]){
                    erro = true;
                }
            }
        }

        if(erro){
            document.getElementById('alert').style = 'display:';
            document.getElementById('alert').innerHTML = "Posições erradas.";

        } else {
            document.getElementById('alert').style = 'display:none';
            form.submit();
        }
    }

    function qs(vet) {
        quickSort(vet, 0, vet.length - 1);
        return vet;
    }

    function quickSort(vet, ini, fim){
        var i = ini;
        var f = fim;
        var m = Math.floor((i + f)/2);

        while(i < f)
        {
            while(vet[i] < vet[m])
                i++;

            while(vet[f] > vet[m])
                f--;

            if(i <= f)
            {
                var temp = vet[i];
                vet[i] = vet[f];
                vet[f] = temp;
                i++;
                f--;
            }
        }

        if(f > ini)
            quickSort(vet, ini, f);

        if(i < fim)
            quickSort(vet, i, fim);
    }


</script>