<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="container">
    <h2>Torneios</h2>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data</th>
                <th>Formato</th>
                <th>Tipo Torneio</th>
                <th>Fase</th>
            </tr>
        </thead>
        <tbody>
            <% torneios.forEach(torneio => { %>
                <tr>
                    <td><%= torneio.nome %></td>
                    <td><%= torneio.data %></td>
                    <td><%= torneio.FormatoNome %></td>
                    <td><%= torneio.TipoTorneioNome %></td>
                    <th><%= torneio.descFase %></th>
                    <td>

                        <% if(torneio.fase > 0) { %>
                            <a class="btn btn-primary" href="/torneios/fase/<%= torneio.id %>">Alterar Fase</a>
                        <%}%>
                        
                        <% if(torneio.fase == 1) { %>
                            <a href="/torneios/edit/<%= torneio.id %> " class="btn btn-warning">Editar</a>
                        <%}%>

                        <% if(torneio.fase == 0 || torneio.fase == 1) { %>
                            <form method="post" action="/torneios/delete" style="display: inline"
                                onsubmit="confirmDelete(event,this);">
                                <input type="hidden" name="id" value="<%= torneio.id %>">
                                <button class="btn btn-danger">Deletar</button>
                            </form>
                        <%}%>

                        <% if(torneio.fase == 2 || torneio.fase == 3) { %>
                            <strong><a class="btn btn-success" href="/torneios/inscritos/<%= torneio.id %>">Inscritos</a></strong>
                            <strong><a class="btn btn-danger" href="/torneios/cancelar/<%= torneio.id %>" onclick="confirmCancel(event,this)">Cancelar</a></strong>
                        <% } %>

                        <% if(torneio.fase == 4) { %>
                            <strong><a class="btn btn-success" href="/torneios/resultados/<%= torneio.id %>">Inserir Resultado</a></strong>
                        <% }  %>
                        

                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <a href="/torneios/new" class="btn btn-success">Inserir Torneio</a>
    <a href="/admin" class="btn btn-warning">Voltar</a>
</div>
<%- include('../partials/footer.ejs') %>
<script>
    function confirmDelete(event, form){
        event.preventDefault();
        var decision = confirm("Você quer deletar este torneio?");
        if(decision){
            form.submit();
        }
    }

    function confirmCancel(event, teste){
        var decision = confirm("Você quer cancelar este torneio?");
        if(!decision){
            event.preventDefault();
        }
        
    }

</script>