<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="container">
    <h2>Tipo de Torneios</h2>
    <a href="/tipoTorneios/new" class="btn btn-success">Inserir Tipo de Torneio</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            <% tipoTorneios.forEach((tipoTorneio, index) => { %>
                <tr>
                    <td><%= tipoTorneio.nome %></td>
                    <td>
                        <form method="post" action="/tipoTorneios/delete" style="display: inline"
                            onsubmit="confirmDelete(event,this,'<%= index %>');">
                            <input type="hidden" name="id" value="<%= tipoTorneio.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <br>
    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert" style='display:none'>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<%- include('../partials/footer.ejs') %>
<script>
    async function confirmDelete(event, form, i){
        event.preventDefault();
        document.getElementById('alert').style = 'display:none';

        var id = document.getElementsByName("id")[i].value;

        var url = 'http://localhost:3000/ValidaDeletaTipoTorneio';
        try{
            var err = await axios.post(url,{id:id});
            if(err.data.err != undefined){
                document.getElementById('alert').style = 'display:';
                document.getElementById('alert').innerHTML = err.data.err;

            } else {
                var decision = confirm("Você quer deletar este tipo de torneio? ");
                if(decision){
                    form.submit();
                }
            }

            
        } catch(e){ }       
    }
    </script>