<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="container">
    <h2>Jogadores</h2>
    <!--a href="/jogadores/new" class="btn btn-success">Inserir Jogador</a-->
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Nick</th>
                <th>Data de Nascimento</th>
            </tr>
        </thead>
        <tbody>
            <% jogadores.forEach(jogador => { %>
                <tr>
                    <td><%= jogador.nome %></td>
                    <td><%= jogador.email %></td>
                    <td><%= jogador.nick %></td>
                    <td><%= jogador.dtNascimento %></td>
                    <td>
                        <!--a href="/jogadores/edit/< %= jogador.id %> " class="btn btn-warning">Editar</a-->
                        
                        <% if(jogador.status == 1){ %>
                            <a href="/jogadores/enable/<%= jogador.id %>" class="btn btn-warning" onclick="confirmDelete()">Desabilitar</a>
                        <%} else { %>
                            <a href="/jogadores/enable/<%= jogador.id %>" class="btn btn-success">Habilitar</a>
                        <%}%>
                        
                        <!--form method="post" action="/jogadores/delete" style="display: inline"
                            onsubmit="confirmDelete(event,this);">
                            <input type="hidden" name="id" value="<%= jogador.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form-->
                        
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <a href="/admin" class="btn btn-warning">Voltar</a>
</div>
<%- include('../partials/footer.ejs') %>
<script>
    //function confirmDelete(event, form){
    function confirmDelete(){
        var decision = confirm("Você quer desabilitar este jogador?");
        if(!decision){
            event.preventDefault();
        }
    }
    </script>