<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Novo Ranking</h2>
        </div>
        <div class="card-body">
            <form method="post"  action="/rankings/save" onsubmit="return validate(event,this)">
                <input class="form-control" type="text" id="nome" required name="nome" placeholder="Nome"><br> 

                <select class="form-control" name="idTipoTorneio" id="idTipoTorneio" required>
                    <option value="">Tipo de Torneio</option>
                    <% dados.tipoTorneios.forEach(tipoTorneio => { %>
                        <option value="<%= tipoTorneio.id %>"><%= tipoTorneio.nome %></option>
                    <% }) %>
                </select><br>

                <select class="form-control" name="idFormato" id="idFormato" required>
                    <option value="">Formato</option>
                    <% dados.formatos.forEach(formato => { %>
                        <option value="<%= formato.id %>"><%= formato.nome %></option>
                    <% }) %>
                </select><br>

                <input class="form-control" type="date" required name="dtInicio" id="dtInicio" placeholder="Data Início"><br>
                <input class="form-control" type="date" required name="dtFinal" id="dtFinal" placeholder="Data Final"><br> 

                <button class="btn btn-success">Cadastrar</button>
                <a href="/rankings" class="btn btn-warning">Voltar</a>
            </form>

            <br>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert" style='display:none'>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>
<script>

    async function validate(event,form){
        event.preventDefault();
        var nome = document.getElementById("nome").value;
        var idTipoTorneio = document.getElementById("idTipoTorneio").value;
        var dtInicio = document.getElementById("dtInicio").value;
        var dtFinal = document.getElementById("dtFinal").value;
        var idFormato = document.getElementById("idFormato").value;

        var url = 'http://localhost:3000/ValidateInsertEdit';
        try{
            var err = await axios.post(url,{idTipoTorneio:idTipoTorneio,nome:nome,dtInicio:dtInicio,dtFinal:dtFinal,idFormato:idFormato});

            if(err.data.err != undefined){
                document.getElementById('alert').style = 'display:';
                document.getElementById('alert').innerHTML = err.data.err;

            } else {
                document.getElementById('alert').style = 'display:none';
                form.submit();
            }
        } catch(e){
            console.log(e);
        }
    }

</script>