<%- include('../partials/header.ejs') %>
<%- include('../partials/navbarUser.ejs') %>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Bem Vindo <%= dados.jogador.nome %></h2>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <h2>Próximos Torneios</h2>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data</th>
                        <th>Formato</th>
                        <th>Tipo Torneio</th>
                    </tr>
                </thead>
                <tbody>
                    <% dados.torneios.forEach(torneio => { %>
                        <% if(torneio.fase == 2) {%>
                        
                        <tr>
                            <td><%= torneio.nome %></a></td>
                            <td><%= torneio.data %></td>
                            <td><%= torneio.FormatoNome %></td>
                            <td><%= torneio.TipoTorneioNome %></td>
                            <td><a class="btn btn-success" href="/torneios/detalhe/<%= torneio.id %>">Inscrição</a></td>
                        </tr>
                        
                    <% } }) %>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm">
            <p></p>
            <strong>Torneios</strong>
            <div>
                <a href="/torneios/old" class="btn btn-primary btn-lg btn-block">Torneios Anteriores</a>
            </div>
        </div>
    
        <div class="col-sm">
            <p></p>
            <strong>Rankings</strong>
            <div>
                <a href="/meusRankings" class="btn btn-primary btn-lg btn-block">Rankings</a>
            </div>
        </div>

        <div class="col-sm">
            <p></p>
            <strong>Decks</strong>
            <div>
                <a href="/decksJogadores" class="btn btn-primary btn-lg btn-block">Decks</a>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>


